<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h4>Shorten your url</h4>

    
   <form action="your-url" method="POST">

      <label for="longurl">Long url</label>
      <input type="url" name="longurl" id="">

      <label for="shorturl">Short url</label>
      <input type="text" name="shorturl" id="">

      <button type="submit">Create</button>

   </form>

</body>
</html>